### Import Packages

In [5]:
import numpy as np
import pandas as pd

### Load Dataset

In [7]:
data_path ="Processed_Bike_dataset.csv"
df = pd.read_csv(data_path,encoding="unicode_escape")

In [9]:
df.head()

,Rented Bike Count,Hour,Temperature(ÃÂ°C),Humidity(%),Wind speed (m/s),Visibility (10m),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Holiday,...,Year,Spring,Summer,Winter,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,254,0,-5.2,37,2.2,2000,0.0,0.0,0.0,0,...,2017.0,0,0,1,0,0,0,1,0,0
1,204,1,-5.5,38,0.8,2000,0.0,0.0,0.0,0,...,2017.0,0,0,1,0,0,0,1,0,0
2,173,2,-6.0,39,1.0,2000,0.0,0.0,0.0,0,...,2017.0,0,0,1,0,0,0,1,0,0
3,107,3,-6.2,40,0.9,2000,0.0,0.0,0.0,0,...,2017.0,0,0,1,0,0,0,1,0,0
4,78,4,-6.0,36,2.3,2000,0.0,0.0,0.0,0,...,2017.0,0,0,1,0,0,0,1,0,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rented Bike Count        8760 non-null   int64
 1   Hour                     8760 non-null   int64
 2   Temperature(ÃÂ°C)       8760 non-null   float64
 3   Humidity(%)              8760 non-null   int64
 4   Wind speed (m/s)         8760 non-null   float64
 5   Visibility (10m)         8760 non-null   int64
 6   Solar Radiation (MJ/m2)  8760 non-null   float64
 7   Rainfall(mm)             8760 non-null   float64
 8   Snowfall (cm)            8760 non-null   float64
 9   Holiday                  8760 non-null   int64
 10  Functioning Day          8760 non-null   int64
 11  Day                      3456 non-null   float64
 12  Month                    3456 non-null   float64
 13  Year                     3456 non-null   float64
 14  Spring                   8760 non-null   int64
 15  Summer                   8760 non-null   int64
 16  Winter                   8760 non-null   int64
 17  Monday                   8760 non-null   int64
 18  Saturday                 8760 non-null   int64
 19  Sunday                   8760 non-null   int64
 20  Thursday                 8760 non-null   int64
 21  Tuesday                  8760 non-null   int64
 22  Wednesday                8760 non-null   int64
dtypes: float64(8), int64(15)
memory usage: 1.5 MB

##  Spilit Data For Training & Testing